h1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 56px;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 2.8rem;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

