// Brand Colors
$brand-light: #42EC9A;
$brand-principal: #00A868;
$brand-dark: #00734D;

// Dark Colors
$dark-primary: #20252A;
$dark-secondary: #31383F;

// Light Colors
$light-primary: #ffffff;
$light-secondary: #F7F9FD;
$light-tertiary: #EFF4F8;
$light-quarternary: #E8E8E8;